.construction {
    text-align: center;
    margin-top: 10rem;


    h1{
        font-size: 3.5rem;
        text-transform: uppercase;
        line-height: 100px;
        font-weight: 400;
        letter-spacing: 10px;
    }

    p {
        font-weight: 200;
        font-size: 1rem;
    }

}

.construction_pg {
    text-transform: uppercase;
    letter-spacing: 8px;
    margin-top: 24px;
}

.progress {
    position: relative;
    width: 100%;
    max-width: 40rem;
    margin: 1rem auto;
    padding: 10px 0;
}

.progress-bar {
    width: 100%;
    background-color: var(--off-white);
    overflow: hidden;
    height: 15px;
}

.progress-bar_fill {
    height: 100%;
    width: 70%;
    background-color: var(--red-logo);
}

.progress_label {
    margin-top: 15px;

    p {
        letter-spacing: 3px;
    }

    p:nth-child(1) {
        position: absolute;
        left: -10px;
    }

    p:nth-child(2){
        position: absolute;
        right: -38px;
    }
}

.socials {
    margin-top: 12rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

.icons {
    border: 1px solid var(--off-white);
    border-radius: 50%;
    background-color: transparent;
    padding: .5rem;
    transition: 1s;

    &:hover {
        transform: scale(1.1);
    }
}

@media(max-width:750px) {
    .construction {

        margin-top: 15rem;

        h1{
            padding: .5rem;
            line-height: 50px;
            font-size: 1.8rem;
        }

        p {
            font-weight: 200;
            font-size: 14px;
        }
    }

    .progress-bar {
        margin: 0 auto;
        width: 80%;
        background-color: var(--off-white);
        overflow: hidden;
        height: 15px;
    }
    
    .progress-bar_fill {
        height: 100%;
        width: 70%;
        background-color: var(--red-logo);
    }

    .progress_label {

        display: none;
        flex-direction: row;
        justify-content: center;
        gap: 70%;

        p:nth-child(1) {
            position: relative;
        }
    
        p:nth-child(2){
            position: relative;
        }
    }

    .socials{

        margin-top: 15rem;

        .icons {
            padding: .2rem;
        }
    }
}

@media(max-width:500px) {
    .construction {
        margin-top: 12rem;
        
        h1 {
            font-size: 1.5rem;
        }

        p {
            font-size: 12px;
            line-height: 1.2rem;
            padding: .6rem;
        }
    }

    .socials {
        margin-top: 15rem;
    }
}

