.portfolio {
    text-align: center;
    margin-top: 15rem;
}

.portfolio-title {
    display: inline-block;
    position: relative;
    z-index: 1;

    h1 {
        padding: 0 30px;
        font-size: 80px;
        font-weight: 600;
    }

    img {
        position: absolute;
        bottom: 0;
        right: 0px;
        z-index: -1;
    }
}

.top-0-link {
    img{
      width: 3rem;
      height: 3rem;
    }
  }

  .top-arrow {
    display: block;
    position: fixed;
    bottom: 1rem;
    border: 1px solid var(--off-white);
    border-radius: 50%;
    padding: .5rem;
  }


@media(max-width:750px){

    .portfolio {
        margin-top: 10rem;
    }

    .portfolio-title {
        h1 {
            font-size: 3rem;
        }

        img {
            width: 10rem;
            left: 150px;
        }
    }
}

@media(max-width:500px){

    .portfolio {
        margin-top: 10rem;
    }

    .portfolio-title {
        h1 {
            font-size: 2rem;
        }

        img {
            width: 7rem;
            left: 150px;
        }
    }
}