.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 4rem;
}

.about-title {
    position: relative;
    z-index: 1;

    h1 {
        font-size: 3.5rem;
        font-weight: 600;
    }

    img {
        position: absolute;
        bottom: -5px;
        right: -15px;
    }
}

.bg-img {
    z-index: -1;
}

.about-left {

        img{
            width: 20rem;
            height: 30rem;
            border-radius: 2rem;
            object-fit: cover;
    }
}

.about-sections {
    padding: 2rem;
    margin-top: 5rem;
    display: flex;
    gap: 4rem;
    align-items: center;
}

.about-right {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.about-pg {
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 2rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.habilidades {
    text-align: start;

    .habilidades-content {
        position: relative;
        z-index: 1;
        display: inline-block;

        img {
            position: absolute;
            height: 30px;
            bottom: 20px;
            right: -10px;
        }
    }

    .habilidades-title {
        display: inline-block;
        font-size: 24px;
        margin-bottom: 24px;
        cursor: pointer;
        font-weight: 600;
        letter-spacing: 1.5px;
    }
}

@media(max-width:1200px) {
    

    .about {
        
        padding-top: 0;
        margin-top: 8rem;

        h1 {
            font-size: 3.5rem;
        }
    }

    .about-sections {
        margin-top: 3rem;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2rem;
    }

    .about-left {

        img{
            width: 18rem;
            height: 18rem;
            border-radius: 20px;
            object-fit: cover;
            object-position: 0% 30%;
        }
    }

    .about-pg {
        gap: 1rem;
    }

    .habilidades {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}

@media(max-width:750px) {


    .about-title {
        font-size: 20px;

        img {
            width: 10rem;
            left: 120px;
        }
    }


    .about {

        margin-top: 3rem;

        h1 {
            font-size: 3rem;
        }
    }


    .about-left {

        img{
            max-width: 20rem;
            max-height: 20rem;
            border-radius: 20px;
            object-fit: cover;
            object-position: 0% 30%;
        }
}

    .about-pg {

        p {
            padding: 1.4rem;
        }
    }


}


@media(max-width:500px) {

    .about {
        h1 {
            font-size: 2rem;
        }
    }

    .about-title {

        img {

            width: 7rem;
            left: 80px;
        }
    }

    .about-left {

        img{
            max-width: 17rem;
            max-height: 17rem;
        }
    }
}