.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 2rem;

    img {
        height: 56px;
    }
}

.nav-menu {
    display: flex;
    align-items: center;
    gap: 60px;
    font-size: 1rem;
    cursor: pointer;
}

.hover-animation {
    position: relative;
  }
  
  .hover-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 5px;
    top: 20px;
    bottom: 0;
    left: 0;
    background-color: var(--red-logo);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .hover-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  .anchor-link {
    text-decoration: none;
    color: var(--off-white);
  }

  .nav-mobile-close {
    display: none;
  }

  .nav-mobile-open {
    display: none;
  }

  .nav-socials-mobile-menu {
    display: none;
  }

  .nav-logo-mobile {
    display: none;
  }

  /* .top-0-link {
    img{
      width: 2rem;
      height: 2rem;
    }
  }

  .top-arrow {
    display: inline-block;
    position: absolute;
    bottom: 1rem;
    border: 1px solid var(--off-white);
    border-radius: 50%;
    padding: .5rem;
  } */

  @media(max-width:1200px){
    
    .navbar{
      position: absolute;
      margin: 20px 50px;
    }

    .nav-socials{
      display: none;
    }

    .nav-mobile-open {
      display: block;
      position: fixed;
      top: 10px;
      right: 30px;
      width: 30px;
    }

    .nav-mobile-close {
      display: block;
      position: relative;
      left: 290px;
      width: 30px;
    }

    .nav-menu {
      position: fixed;
      flex-direction: column;
      align-items: start;
      top: 0;
      gap: 50px;
      background-color: rgba(120, 48, 48, 1);
      width: 350px;
      height: 100%;
      z-index: 2;
      transition: right 0.5s;
      right: -350px;

      li {
        font-size: 1.5rem;
        margin: 0 auto;
        flex-direction: row;
      }
    }
    
    .nav-logo {
      display: none;
    }
    .nav-logo-mobile {
      width: 300px;
      display: block;
      margin: 0 auto;
    }

    .nav-socials-mobile-menu {
      display: block;
      margin: 16px auto;
    }
  }

  @media(max-width:750px) {
    .navbar {
      z-index: 1;
    }
  }